/* Informations */
.information-section {
  height: 660px;
  display: flex;
}

.section {
  background-color: #232323;
  border-radius: 10px;
  margin: 0px 5px;
}

.experiences-section {
  flex: 1;
}

.experiences-section h1 {
  margin-left: 10px;
}

.experiences {
  height: 80%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
}

.experiences div {
  flex: 1;
}

.experience {
  flex-direction: column;
}

.experience a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: 0.2s linear;
}

.experience a:hover {
  color: dodgerblue;
}

/* Education Section */

.education-section {
  flex: 1;
}

.education-section h1 {
  margin-left: 10px;
}

.education {
  margin: 10px;
}

.gpa {
  font-size: 16px;
  margin-left: 4px;
  font-style: italic;
  font-weight: 100;
}

/* Skills Section */

.skills-section {
  flex: 2;
}
.skills {
  margin: 10px;
}

.skill-level {
  height: 10px;
  background-color: #232323;
  border: 1px solid dodgerblue;
  border-radius: 5px;
}

.skill-level-bar {
  height: 10px;
  background-color: dodgerblue;
  border-radius: 3px;
}

.skill-level-bar.android {
  width: 75%;
}

.skill-level-bar.ios {
  width: 20%;
}

.skill-level-bar.html {
  width: 40%;
}
.skill-level-bar.css {
  width: 50%;
}
.skill-level-bar.js {
  width: 30%;
}

.skill-item {
  padding-left: 10px;
  font-size: 22px;
}

/* Projects Section */

.projects-section {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.projects {
  margin: 10px;
}

.project {
  display: flex;
}

.project-image {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.project-description {
  margin: auto;
  margin-left: 20px;
}

.project-description h2 {
  margin: 0;
  padding: 0;
}

.links > a {
  margin: 5px;
}

.egg-timer:hover {
  color: #2d5a55;
}

.google-play-link:hover {
  color: #2d5a55;
}
